{% extends 'base.html.twig' %}

{% block title %}Hello BlogContorllerController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Create Blog Category</h1>

    <form class="" action="{{path('submit-category')}}" method="post">
      <div class="form-group">
          <label for="name" class="control-label">Name</label>
          <input type="text" class="form-control" name="name">
      </div>


      <button type="submit" name="button">Save</button>
    </form>
</div>
{% endblock %}
